{% extends "base.html" %}
{% block title %}Comments{% endblock %}
{% block body %}

<div class="col-sm-8">
    <h2>Your message</h2>
    <ul class="list-group">
        <li class="list-group-item list-group-item-secondary ">Original Message:{{ comments}}</li>
        <li class="list-group-item list-group-item-secondary">Message Id:{{ id}}</li>
        <li class="list-group-item list-group-item-secondary">Session Id:{{ seId}}</li>
        <li class="list-group-item list-group-item-secondary">Encrypted Message:{{ enc}}</li>
        <li class="list-group-item list-group-item-secondary">Decrypted Message:{{ dec}}</li>
    </ul>
</div>
    <div class="col-sm-4">
        <h2>Url</h2>
        <p>
            <a href="{{'/message/show/'~id}}">
                <button>
                    {{'/message/show/'~id}}
                </button>
            </a>
        </p>
    </div>



{% endblock %}



