{% extends "base.html" %}
{% block title %}Comments{% endblock %}
{% block body %}
<div class="col-sm-4 col-sm-offset-4">
    <p>Send some message</p>
    {% if errors is not empty %}
    <p>Errors:</p>
    <ul>
        <li>{{ errors}}</li>
    </ul>
    {% endif %}
    <form action="message/show" method="post">
        <label for="message">Your message</label>
        <input type="text" name="message">
        <label for="secret">Your secret key</label>
        <input type="password" name="secret">
        <input type="submit" name="submit" value="Send">
    </form>
</div>

{% endblock %}



